<!DOCTYPE html>
<html style="height: 100%; margin: 0; padding: 0;">

<head>
    <meta charset="utf-8">
    <title>Script Viewer</title>
    <link rel="stylesheet" href="{{static_css}}">
    <script src="{{static_js}}"></script>
</head>

<body style="display: flex; flex-flow: column; height: 100%; width: 100%; margin: 0; padding: 0;">
    <div style="display: flex; background: #cfcfcf; flex-flow: row; width: 100%; height: 50px;">
        <div style="display: flex; flex-flow: row; width: 100%; height: 100%; overflow: scroll;">

            <p class="hamburger"><a href="/"><b>Script Hierarchy</b></a></p>

            {% for i in hamburgerHistory %}
            <p class="hamburger">&gt;&gt;</p>
            <p class="hamburger"><a href="{{ i.path }}">{{ i.name|e }}</a></p>
            {% endfor %}

            <p class="hamburger">&gt;&gt;</p>
            <p class="hamburger"><b>{{ hamburgerCurrent|e  }}</b></p>

        </div>
        <div style="width: 100px;">
            <button style="width: 100px; height: 50px;">LEGEND</button>
        </div>
    </div>
    <div style="background: #7f7f7f; width: 100%; height: 100%; overflow: scroll; position: relative;">
        <div>
            {# blocks content #}
            {% for i in blocks %}
            <div class="block-body" style="height: {{ i[12] }}px; width: {{ i[11] }}px; top: {{ i[10] }}px; left: {{ i[9] }}px;">
                {% if i[4] != '{}' %}
                <div class="block-target" title="{{ "Name: %s\nType: %s"|format(*pinDecoder2(i[4])) }}" style="height: 6px; width: 6px; top: 0; left: 0;"></div>
                {% endif %}
                {% for pin in pinDecoder(i[5]) %}
                <div class="block-p" title="{{ "Name: %s\nType: %s"|format(pin.name, pin.type) }}" style="height: 6px; width: 6px; top: 0; left: {{ 20 + loop.index0 * ( 6 + 20) }}px;"></div>
                {% endfor %}
                {% for pout in pinDecoder(i[6]) %}
                <div class="block-p" title="{{ "Name: %s\nType: %s"|format(pout.name, pout.type) }}" style="height: 6px; width: 6px; bottom: 0; left: {{ 20 + loop.index0 * ( 6 + 20) }}px;"></div>
                {% endfor %}
                {% for bin in pinDecoder(i[7]) %}
                <div class="block-b" title="{{ "Name: %s\nType: %s"|format(bin.name, bin.type) }}" style="height: 6px; width: 6px; top: {{ 10 + loop.index0 * ( 6 + 20) }}px; left: 0;"></div>
                {% endfor %}
                {% for bout in pinDecoder(i[8]) %}
                <div class="block-b" title="{{ "Name: %s\nType: %s"|format(bout.name, bout.type) }}" style="height: 6px; width: 6px; top: {{ 10 + loop.index0 * ( 6 + 20) }}px; right: 0;"></div>
                {% endfor %}

                {% if i[13] != -1 %}
                <p class="block-expandable-text" style="top: 10px; left: 20px;"><a href="{{ "/%s/%s"|format(currentPath, i[13]) }}">{{ i[2]|e }}</a></p>
                {% else %}
                <p class="block-text" style="top: 10px; left: 20px;">{{ i[2]|e }}</p>
                {% endif %}
                <p class="block-asstext" style="top: 24px; left: 20px;">{{ i[3]|e }}</p>
            </div>
            {% endfor %}

            {# cells content #}
            {% for i in cells %}
            <div class="{% if i[6] == 0 %}cell-plocal{% elif i[6] == 1 %}cell-shortcut{% elif i[6] == 2 %}cell-pio{% elif i[6] == 3 %}cell-bio{% else %}cell-ptarget{% endif %}"
            style="height: {% if i[6] == 2 or i[6] == 3 %}6{% else %}5{% endif %}px; width: {% if i[6] == 2 or i[6] == 3 %}6{% else %}15{% endif %}px; top: {{ i[5] }}px; left: {{ i[4] }}px;"
            title="{{ "Name: %s\nType: %s"|format(i[2], i[3]) }}"></div>
            {% endfor %}

            <svg version="1.1" width="{{ gWidth }}px" height="{{ gHeight }}px" style="position: absolute; top: 0; left: 0;pointer-events: none;">
                {# links content #}
                {% for i in links %}
                {% if i[1] == -2 %}
                {# todo: finish export link #}
                {% elif i[1] == -1 %}
                {# todo: finish plink #}
                {% else %}
                <line x1="{{ i[8] }}" y1="{{ i[9] }}" x2="{{ i[10] }}" y2="{{ i[11] }}" stroke="black" stroke-width="1px"></line>
                <text class="link-delay" x="{{ (i[8] + i[10]) / 2 }}" y="{{ (i[9] + i[11]) / 2 }}" fill="black">{{ i[1] }}</text>
                {% endif %}
                {% endfor %}
                <!-- <line x1="320" y1="200" x2="100" y2="100" stroke="blue" stroke-width="1px" stroke-dasharray="10, 5">
                </line>-->                
            </svg>
        </div>

    </div>
</body>

</html>